.footer {
    width: 100%;
    padding: 30px 0;
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        &--small {
            margin-right: 10px;
            :first-child {
                margin-right: 0px;
            }
        }
        a {
            margin-right: 10px;
        }
    }
    &__up {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        cursor: pointer;
    }
}
